[Unit]
Description=Post-process Jellyfin TV recordings

[Service]
User=jellyfin
Group=jellyfin
WorkingDirectory=/var/lib/jellyfin/scripts/jellyfin-scripts
ExecStart=/var/lib/jellyfin/scripts/jellyfin-scripts/.venv/bin/python \
  ./main.py \
  /var/lib/jellyfin/data/livetv/recordings